# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore sensitive data files
data/*.json

#To be updated later(due to limited time)
statistics.html
