.search {
    padding: 3rem;
    width: 100%;
   
}
.search-input{  
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border-color: #E0E0E0;
}
.search-bar-wrap {
    display: flex;
    padding: 1rem;
    
}
.search-btn {
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    border-color: #E0E0E0;
}
.search-btn:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}
.search-card {
    background-color: #AAAE8E;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;

}
.search-results div {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.result-container {
     
    width: 50%;
}
#itemCategory {
    display: inline-block;
    justify-self: end;
    background-color: #3A606E;
    max-width: fit-content;
    border-radius:30px;
    padding: 0.5rem;
    opacity: 0.8;
    max-height: min-content;
    color: white;
}
.search-results {
    margin: 1rem;
}